{% extends 'template.html' %}

{% block content %}
  {% if posts %}
  {% for post in posts %}
    <div class="post posts my-3 p-3">
      <a href="{% url 'post' post.id%}"></a>
        <p class="text-muted">Posted by {{post.author}} {{post.published|timesince}} ago</p>
        <div class="row">
        
          <div class="col-8">
            <h3>{{post.title|truncatechars:37}}</h3>
            <p class="text-muted">{{post.content|truncatechars:190}}</p>
          </div>
          
          <div class="col-4">
            <p class="text-right text-muted">upvotes: {{post.upvotes}}<br>
            downvotes: {{post.downvotes}}<br>
            total: {{post.netVotes}}</p>
          </div>
          
        </div> 
   </div>
  {% endfor %}
  {% endif %}
{% endblock content %}