<!DOCTYPE html>
{% load static %}
<html>

<head>
  <title>Beddit - Berkeley</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
  <link rel="icon" href="{% static '/img/favicon.png' %}">
  
  <!-- Main Styling sheet + Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/template.css' %}">
</head>

<body>
  <div class="container-fluid">
  <!-- Header -->
  <div class="row">
    <div class="col p-0">
      <img class="img-fluid" src="{% static 'img/berkeley-skyline.png' %}" alt="Berkeley skyline">
    </div>
  </div>
  <div class="row header py-3 center-vertical">
    <div class="col-6">
      <a href ="{% url 'homepage' %}">
        <img class="px-4" src="{% static 'img/berkeley-logo.png' %}" height=80px alt="Berkeley logo">
        <h5 class="d-inline header-text">r/Berkeley</h5>
      </a>
    </div>
    <div class="col-6"><h4 class="text-right header-text">#1 public univeristy<br>in the world</h4></div>
  </div>

  <!-- Main Content Container -->
  <main>
  <div class="container">    
    {% block content %}
    {% endblock content %}
  </div>
  </main>
  
  </div>
</body>
</html>